.#{$fas-css-prefix}-glasss:before { content: $fa-var-glasss; }
.#{$fas-css-prefix}-hart:before { content: $fa-var-hart; }
.#{$fas-css-prefix}-left:before { content: $fa-var-left; }



/*
.erp-glasss:before { content: $fa-var-glasss; }
*/
