@font-face {
  font-family: 'erpfont';
  src:url('#{$faa-font-path}/erpfont.eot?7f8uzy');
  src:url('#{$faa-font-path}/erpfont.eot?#iefix7f8uzy') format('embedded-opentype'),
  url('#{$faa-font-path}/erpfont.woff?7f8uzy') format('woff'),
  url('#{$faa-font-path}/erpfont.ttf?7f8uzy') format('truetype'),
  url('#{$faa-font-path}/erpfont.svg?7f8uzy#erpfont') format('svg');
  font-weight: normal;
  font-style: normal;
}