$panel-header-line-height : 20px;

$panel-navigation-background-color: #2c3845;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;

$base-color:#35baf6;
$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;
$font-weight: normal;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;

$social-facebook-btn-background: #167abc;
$social-twitter-btn-background: #03b4d5;
$social-google-plus-btn-background: #e44959;
$social-envelope-btn-background: #7754aa;

$button-toolbar-background-color: transparent;
$button-toolbar-border-color: transparent;
$button-toolbar-hover-background-color: #efefef;



//Form and Toolbar Button UI colors

$color-blue: #167abc;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-red: #e44959;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;
