$faa-font-path : "../classic/resources/fonts" !default;
$fa-font-size-base:   14px !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fas-css-prefix:       erp !default;
$fa-version:          "4.3.0" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;

$fa-var-glasss: "\e019";
$fa-var-hart: "\e0b0";
$fa-var-left: "\e17c";